<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Ma Banque </title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6">
			<div class="panel panel-primary">
			<div class="panel-heading">Consultation d'un compte</div>
			<div class="panel-body"></div>
			</div>
		</div>
		
			
			<div class="panel panel-primary">
			<div class="panel-heading">Informations sur le compte</div>
			<div class="panel-body"></div>
			</div>
			
			
		
			<div class="panel panel-primary">
			<div class="panel-heading">Liste des operations</div>
			<div class="panel-body"></div>
			</div>
			
			<div class="panel panel-primary">
			<div class="panel-heading">Operations</div>
			<div class="panel-body"></div>
			</div>
			
			
	</div>
</body>
</html>